<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                    <img src="__PUBLIC__/index/images/logofooter.png" />
                    <p>本商城使用最牛鼻的技术,经过2位经验丰富,技能一流的研发工程师,耗资10000万人民币,耗时3年倾力打造而成. 是为推动中国的经济发展和互联网技术的腾飞.</p>
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading"><h4>客户服务</h4></div>
                    <ul>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">物流信息</a></li>
                        <li><a href="#">隐私策略</a></li>
                        <li><a href="#">团队荣誉</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>我的掌圈</h4></div>
                    <ul>
                        <li><a href="#">账户信息</a></li>
                        <li><a href="#">品牌</a></li>
                        <li><a href="#">礼品卡</a></li>
                        <li><a href="#">特别关注</a></li>
                        <li><a href="#">网站地图</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>联系我们</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>江西龙南商贸街22号</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>+86 79735888888</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>mall@jx1860.net</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Copyright &copy; 2017 掌圈龙南 All rights reserved.
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="__PUBLIC__/index/images/visa-curved-32px.png" /></li>
                            <li><img src="__PUBLIC__/index/images/paypal-curved-32px.png" /></li>
                            <li><img src="__PUBLIC__/index/images/discover-curved-32px.png" /></li>
                            <li><img src="__PUBLIC__/index/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    $(function () {
       $('#frmSearch').submit(function(){
          var keyword = $('#keyword').val();
          if(!keyword){
              alert('请输入关键字');
              return false;
          }
          var url = $(this).attr('action');
          url += '&keyword=' + keyword;
          location.href = url;
          return false;
       });
    });
</script>
</body>
</html>